[Unit]
Description=clash daemon

[Service]
Type=simple
User=root
ExecStart=/opt/centos-install-clash/clash -d /opt/centos-install-clash
ExecStopPost=unset http_proxy https_proxy
Restart=on-failure

[Install]
WantedBy=multi-user.target
